*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    font-size: 10px;
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-secondary-dark: #5E5E5E;
    --clr-accent: #16e0bd;
    --clr-secondary-accent: #ec0868;
    --clr-neutral: #738A90;


    --fs-1: 4.0rem;
    --fs-2: 3.2rem;
    --fs-3: 3.0rem;
    --fs-4: 2.4rem;
    --fs-5: 2.0rem;
    --fs-body: 1.9rem;
    --fs-btn: 1.8rem;

    --bs: 0.35em 0.35em 0.85em rgba(0, 0, 0, .35),
        0.135em 0.135em 0.35em rgba(0, 0, 0, .25);
}

@media (min-width: 400px) {
    :root {
        --fs-1: 4.6rem;
        --fs-2: 3.8rem;
        --fs-3: 3.6rem;
        --fs-4: 2.0rem;
        --fs-body: 2.1rem;
        --fs-btn: 1.9rem;
    }
}

@media (min-width: 800px) {
    :root {
        --fs-1: 4.6rem;
        --fs-2: 4rem;
        --fs-3: 2.4rem;
        --fs-4: 2.1rem;
        --fs-body: 2rem;
        --fs-btn: 1.9rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 2em 1.5em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */
button {
    font-size: var(--fs-btn);
}


/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-1)
}

h2 {
    font-size: var(--fs-2)
}

h3 {
    font-size: var(--fs-4)
}

h4 {
    font-size: var(--fs-4);
}

p {
    font-size: var(--fs-body);
}

/* header */
.header {
    min-height: 2rem;
    background-color: var(--clr-dark);
}

/*  Intro section  */
.intro {
    position: relative;
    background-color: var(--clr-dark);
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/happy-customer1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* opacity: 25%; */
    filter: brightness(0.4);
    /* filter: grayscale(100%); */
}

.intro__psuedo-bg {
    background-color: var(--clr-dark);
}

.intro__psuedo-bg__inside {
    position: relative;
}

.intro__title-1 {
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
    max-width: 65%;
    text-align: left;
    line-height: 4.5rem;
    text-shadow: var(--bs);
}

.intro__title-2 {
    /* background-blend-mode: multiply; */
    margin-top: 4rem;
    color: var(--clr-accent);
    text-align: center;
    max-width: 100%;
    text-align: left;
    text-shadow: var(--bs);
}

.intro__description {
    /* margin-top: 8rem; */
    margin-top: 8rem;
    color: var(--clr-light);
    text-align: center;
    max-width: 100%;
    align-self: bottom;

}

@media (min-width: 440px) {
    .intro__description {
        margin-top: 13rem;
    }
}

.intro__description span {
    color: var(--clr-accent);
}

/*  Problem section  */
.section__problem--body {
    font-weight: var(--fw-bold);
    color: var(--clr-neutral);
    line-height: 2.6rem;
}

.section__problem--img {
    box-shadow: var(--bs);
}

.solution {
    background-color: var(--clr-dark);
    background-image: url(../images/solutions-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--solution {
    color: var(--clr-accent);
}

.section__title--solution::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service {
    font-style: italic;
    box-shadow: var(--bs);
    padding: 2rem;
}

/* .service__title1 {
    color: hsl(170, 82%, 80%);
}

.service__title2 {
    color: hsl(170, 82%, 64%);
}

.service__title3 {
    color: hsl(170, 82%, 48%);
} */

.service__description {
    font: var(--ff-primary);
}