*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    font-size: 10px;
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-secondary-dark: #5E5E5E;
    --clr-accent: #16e0bd;
    --clr-secondary-accent: #ec0868;
    --clr-neutral: #738A90;


    --fs-1: 4.0rem;
    --fs-2: 3.2rem;
    --fs-3: 3.0rem;
    --fs-4: 2.4rem;
    --fs-5: 2.0rem;
    --fs-body: 1.9rem;
    --fs-btn: 1.8rem;

    --bs: 0.35em 0.35em 0.85em rgba(0, 0, 0, .35),
        0.135em 0.135em 0.35em rgba(0, 0, 0, .25);
}

@media (min-width: 400px) {
    :root {
        --fs-1: 4.6rem;
        --fs-2: 3.8rem;
        --fs-3: 3.6rem;
        --fs-4: 2.0rem;
        --fs-body: 2.1rem;
        --fs-btn: 1.9rem;
    }
}

@media (min-width: 800px) {
    :root {
        --fs-1: 4.6rem;
        --fs-2: 4rem;
        --fs-3: 2.4rem;
        --fs-4: 2.1rem;
        --fs-body: 2rem;
        --fs-btn: 1.9rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 2em 1.5em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */
button {
    font-size: var(--fs-btn);
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--fs-btn);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-1)
}

h2 {
    font-size: var(--fs-2)
}

h3 {
    font-size: var(--fs-4)
}

h4 {
    font-size: var(--fs-4);
}

p {
    font-size: var(--fs-body);
}

/* header */
.header {
    min-height: 2rem;
    background-color: var(--clr-dark);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background-color: var(--clr-dark);
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


/*  Intro section  */
.intro {
    position: relative;
    background-color: var(--clr-dark);
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/happy-customer1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* opacity: 25%; */
    filter: brightness(0.4);
    /* filter: grayscale(100%); */
}

.intro__psuedo-bg {
    background-color: var(--clr-dark);
}

.intro__psuedo-bg__inside {
    position: relative;
}

.intro__title-1 {
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
    max-width: 65%;
    text-align: left;
    line-height: 4.5rem;
    text-shadow: var(--bs);
}

.intro__title-2 {
    /* background-blend-mode: multiply; */
    margin-top: 4rem;
    color: var(--clr-accent);
    text-align: center;
    max-width: 100%;
    text-align: left;
    text-shadow: var(--bs);
}

.intro__description {
    /* margin-top: 8rem; */
    margin-top: 8rem;
    color: var(--clr-light);
    text-align: center;
    max-width: 100%;
    align-self: bottom;

}

@media (min-width: 440px) {
    .intro__description {
        margin-top: 13rem;
    }
}

.intro__description span {
    color: var(--clr-accent);
}

/*  Problem section  */
.section__problem--body {
    font-weight: var(--fw-bold);
    color: var(--clr-neutral);
    line-height: 2.6rem;
}

/* Value section one */
.section__value {
    box-shadow:
        0.35em 0.35em 0.85em rgba(22, 224, 189, .55),
        0.135em 0.135em 0.35em rgba(0, 0, 0, .35);
    padding: 2rem;
    background-color: rgb(211, 211, 211);
    text-align: center;
}

.section__value+.section__value {
    margin-top: 3rem;
}

/* Solution section */
.section__problem--img {
    box-shadow: var(--bs);
}

.solution {
    background-color: var(--clr-dark);
    background-image: url(../images/solutions-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--solution {
    color: var(--clr-accent);
}

.section__title--solution::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service {
    font-style: italic;
    box-shadow: var(--bs);
    padding: 2rem;
}

.service__description {
    font: var(--ff-primary);
}

.section__solution-btn {
    margin-top: 3rem;
}

/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}